<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>

    <h3> Test App 0.0.2</h3>
    <input type="number" [(ngModel)]="fontSize">
    <button (click)="changeFontSize()">Change Font size</button>
    <button (click)="applyhljs()">HLJS</button>
  </div>


  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
  {{name}}
  <!--<ul *ngIf="projectFiles && projectFiles.length > 0">-->
  <li  #allTheseThings *ngFor="let file of projectFiles | async">

    {{file.path}}
    <!--<div>-->
    <!--{{file.code}}-->
    <!--</div>-->


  <div>
    <!--<div [innerHTML]="file.code"></div>-->
    <pre><code #allTheseThings class="code-block {{file.language}}">{{file.code}}</code></pre>
    <!--<pre><code class="sample-code" id="blah" [innerHTML]="file.code"></code></pre>-->
  </div>
  </li>
  <!--</ul>-->

  <!--<div *ngIf="projectFiles | async as file">-->
  <!--{{file.path}}-->
  <!--</div>-->


  <!--{{projectFiles}}-->

  <pre><code class="html">{{myString}}</code></pre>
</ion-content>
